#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Adjusting root element for smaller screens */
@media screen and (max-width: 768px) {
  #root {
    max-width: 100%;
    padding: 1rem;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

/* Adjust card padding for smaller screens */
@media screen and (max-width: 768px) {
  .card {
    padding: 1em;
  }
}

.read-the-docs {
  color: #888;
}

/* Styles for the table container */
.table-container {
  max-width: 80%;
  margin: 0 auto;
  padding: 1rem;
  overflow-x: auto;
}

/* Adjusting table container for smaller screens */
@media screen and (max-width: 768px) {
  .table-container {
    max-width: 100%;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
}

th, td {
  padding: 0.5rem;
  border: 1px solid #ccc;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
  color: black;
}

.td {
  text-align: left;
  display: inline-block;
  padding-bottom: 5px;
}

thead {
  color: black;
  text-decoration: underline;
}

/* Additional styles for mobile-friendly tables */
@media screen and (max-width: 768px) {
  th, td {
    padding: 0.25rem;
  }

  .td {
    padding-bottom: 3px;
  }
}
